
.icon-floppy:before { content: '\e800'; } /* '' */
.icon-resize-normal:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-puzzle:before { content: '\e809'; } /* '' */
.icon-money:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-target:before { content: '\e80c'; } /* '' */
.icon-zoom-in:before { content: '\e80d'; } /* '' */
.icon-zoom-out:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-trash-empty:before { content: '\e810'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-print:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\e816'; } /* '' */
.icon-mail:before { content: '\e817'; } /* '' */
.icon-attention:before { content: '\e818'; } /* '' */
.icon-attention-circled:before { content: '\e819'; } /* '' */
.icon-camera:before { content: '\e81a'; } /* '' */
.icon-videocam:before { content: '\e81b'; } /* '' */
.icon-lightbulb:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e81d'; } /* '' */
.icon-pinboard:before { content: '\e81e'; } /* '' */
.icon-basket:before { content: '\e81f'; } /* '' */
.icon-tags:before { content: '\e820'; } /* '' */
.icon-key:before { content: '\e821'; } /* '' */
.icon-user:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-home:before { content: '\e824'; } /* '' */
.icon-bookmark:before { content: '\e825'; } /* '' */
.icon-location:before { content: '\e826'; } /* '' */
.icon-github-circled:before { content: '\e829'; } /* '' */
.icon-traffic-cone:before { content: '\e82c'; } /* '' */
.icon-ok:before { content: '\e82e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-shuffle:before { content: '\f03b'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */